src/META-INF/wsdl/localhost_8084/SoapWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.hotel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.hotel/" name="SoapWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.hotel/" schemaLocation="http://localhost:8084/SoapWebService?xsd=1" />
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test" />
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse" />
</message>
<message name="addWorker">
<part name="parameters" element="tns:addWorker" />
</message>
<message name="addWorkerResponse">
<part name="parameters" element="tns:addWorkerResponse" />
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser" />
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse" />
</message>
<message name="logout">
<part name="parameters" element="tns:logout" />
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse" />
</message>
<message name="updateWorker">
<part name="parameters" element="tns:updateWorker" />
</message>
<message name="updateWorkerResponse">
<part name="parameters" element="tns:updateWorkerResponse" />
</message>
<message name="getWorkerById">
<part name="parameters" element="tns:getWorkerById" />
</message>
<message name="getWorkerByIdResponse">
<part name="parameters" element="tns:getWorkerByIdResponse" />
</message>
<message name="deleteWorker">
<part name="parameters" element="tns:deleteWorker" />
</message>
<message name="deleteWorkerResponse">
<part name="parameters" element="tns:deleteWorkerResponse" />
</message>
<message name="getWorkerList">
<part name="parameters" element="tns:getWorkerList" />
</message>
<message name="getWorkerListResponse">
<part name="parameters" element="tns:getWorkerListResponse" />
</message>
<portType name="SoapWebService">
<operation name="test">
<input wsam:Action="http://webservice.hotel/SoapWebService/testRequest" message="tns:test" />
<output wsam:Action="http://webservice.hotel/SoapWebService/testResponse" message="tns:testResponse" />
</operation>
<operation name="addWorker">
<input wsam:Action="http://webservice.hotel/SoapWebService/addWorkerRequest" message="tns:addWorker" />
<output wsam:Action="http://webservice.hotel/SoapWebService/addWorkerResponse" message="tns:addWorkerResponse" />
</operation>
<operation name="loginUser">
<input wsam:Action="http://webservice.hotel/SoapWebService/loginUserRequest" message="tns:loginUser" />
<output wsam:Action="http://webservice.hotel/SoapWebService/loginUserResponse" message="tns:loginUserResponse" />
</operation>
<operation name="logout">
<input wsam:Action="http://webservice.hotel/SoapWebService/logoutRequest" message="tns:logout" />
<output wsam:Action="http://webservice.hotel/SoapWebService/logoutResponse" message="tns:logoutResponse" />
</operation>
<operation name="updateWorker">
<input wsam:Action="http://webservice.hotel/SoapWebService/updateWorkerRequest" message="tns:updateWorker" />
<output wsam:Action="http://webservice.hotel/SoapWebService/updateWorkerResponse" message="tns:updateWorkerResponse" />
</operation>
<operation name="getWorkerById">
<input wsam:Action="http://webservice.hotel/SoapWebService/getWorkerByIdRequest" message="tns:getWorkerById" />
<output wsam:Action="http://webservice.hotel/SoapWebService/getWorkerByIdResponse" message="tns:getWorkerByIdResponse" />
</operation>
<operation name="deleteWorker">
<input wsam:Action="http://webservice.hotel/SoapWebService/deleteWorkerRequest" message="tns:deleteWorker" />
<output wsam:Action="http://webservice.hotel/SoapWebService/deleteWorkerResponse" message="tns:deleteWorkerResponse" />
</operation>
<operation name="getWorkerList">
<input wsam:Action="http://webservice.hotel/SoapWebService/getWorkerListRequest" message="tns:getWorkerList" />
<output wsam:Action="http://webservice.hotel/SoapWebService/getWorkerListResponse" message="tns:getWorkerListResponse" />
</operation>
</portType>
<binding name="SoapWebServicePortBinding" type="tns:SoapWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="test">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addWorker">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="logout">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateWorker">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getWorkerById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteWorker">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getWorkerList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SoapWebService">
<port name="SoapWebServicePort" binding="tns:SoapWebServicePortBinding">
<soap:address location="http://localhost:8084/SoapWebService" />
</port>
</service>
</definitions>